defaults: &defaults
  applications:
    app_id: ""
    app_secret: ""
    zkill_user_agent: ""
    test_mode: true #true/false

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
