<div class="row mb-15 breadcrumb">
  <div class="col-xs-12">
    <a [routerLink]="['/guarantee-types']">
      <i class="fa fa-angle-double-left"></i>
      保証種別一覧に戻る
    </a>
  </div>
</div>

<h2>保証種別 編集 / ID: {{formId}}</h2>

<div class="row" *ngIf="guaranteeTypeForm">
  <simple-form [form]="guaranteeTypeForm" (submit)="formSubmit()" #form>
    <div class="col-xs-6">
      <a class="btn btn-normal">Delete</a>
    </div>
    <div class="col-xs-6 text-right">
      <label *ngIf="form.dirty()" class="label label-warning mr-10">Unsaved</label>
      <button type="submit" class="btn btn-primary"
              [disabled]="!form.valid() || submitLocked">Save</button>
    </div>

    <div class="col-xs-12 mt-10">
      <simple-form-input [name]='"name"' [type]='"text"'
                         [labelDisplayName]="'Name'"
                         [placeholder]='"保証種別名を入力してください。"'>
      </simple-form-input>

      <simple-form-input [name]='"description"' [type]='"text"'
                         [labelDisplayName]="'Description'">
      </simple-form-input>
    </div>
  </simple-form>
</div>

<confirm-modal></confirm-modal>
