<div class="row mb-15 breadcrumb">
  <div class="col-xs-12">
    <a [routerLink]="['/srp-requests']">
      <i class="fa fa-angle-double-left"></i>
      申請一覧に戻る
    </a>
  </div>
</div>


<h2>SRP申請</h2>

<div class="row">
  <simple-form [form]="srpRequestForm" (submit)="formSubmit()" #form>
    <div class="col-xs-12 text-right">
      <label *ngIf="form.dirty()" class="label label-warning mr-10">Unsaved</label>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid() || submitLocked">保存</button>
    </div>

    <div class="col-xs-12">
      <simple-form-input [name]='"zkillUrl"' [type]='"text"' [labelDisplayName]="'ZKillURL'" [placeholder]='"zkillボードのURLを入力してください"'>
        <a class="btn btn btn-normal" (click)="getZkillInformation()">
          Zkill Board 情報取得
        </a>
      </simple-form-input>

      <simple-form-input [name]='"requestComment"' [type]='"text"' [labelDisplayName]="'申請コメント'"></simple-form-input>
    </div>

    <!-- #TODO 他の方法がある？？？ -->
    <div class="col-xs-12">
        <label>申請先</label>
        <select class="form-control"
                [ngModel]="this.srpRequestForm.srpDestinationId"
                (change)="changeSrpDestination($event)">
          <option *ngFor="let dest of srpDestinations" [value]="dest.id">
            {{dest.name}}
          </option>
        </select>
        <p>
          申請先情報: {{srpDestinationDescription}}
        </p>
    </div>
  </simple-form>
</div>

<h2>ZKill Board 情報</h2>
<div class="row">
  <div class="form-group">
    <label class="col-sm-2 control-label">キャラクター名: </label>
    <div class="col-sm-10">
      <p class="form-control-static">
        {{zkill.characterName}}
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Ship: </label>
    <div class="col-sm-10">
      <p class="form-control-static">
        {{zkill.shipName}}
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">評価額: </label>
    <div class="col-sm-10">
      <p class="form-control-static">
        {{zkill.totalValue}}
      </p>
    </div>
  </div>



</div>
