// page

// --------
// common
// --------

.no-margin-row {
  margin-left: 0;
  margin-right: 0;
}
.form-row {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.full { width: 100%; }
.mr-2 { margin-right: 2px; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.ml-10 { margin-left: 10px; }
.ml-pad-15 { padding-left: 15px; }

.dummy-hidden {
  width: 0 !important;
  height: 0 !important;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
  border: solid 0 !important;
}

h2 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px #dbdbdb solid;
}

.main-container {
  margin-top: 55px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.small-pad {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

// font
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 12px;
  min-width: 968px;
}
p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 12px;
}

// tags
.btn-tags {
  border: #ccc solid 1px;
  height: 26px;
  font-size: 93%;
  padding: 4px 6px 6px 6px;
  color: #666;
  margin-bottom: 2px;
}
.btn-tags:hover {
  color: #FFF;
  background-color: #666;
}

// footer
.normal-footer{
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #272727;
  color: #99979c;
}
.normal-footer a {
  color: #FAFAFA;
}
.normal-footer .footer-copyright {
}
.normal-footer .list-unstyled {
  list-style: none;
}

// table color
.table thead tr {
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

.table thead th {
  border-color: #eaeaea !important;
}
.form-table th {
  background-color: #eaeaea !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #92C5EF;
}

.table .selected {
  background-color: #96cb34 !important;
}
.table tr {
  font-size: 12px;
  border: 1px solid #ddd;
}
.table td {
  font-size: 12px;
}


// ng-table
.ng-table-filters input {
  height: 30px;
  font-size: 12px;
  line-height: 1.5;
}
.ng-table-filters .filter-select {
  height: 30px;
  font-size: 12px;
  line-height: 1.5;
}
table .deleted .deletable {
  text-decoration: line-through;
  color: #d9534f !important;
}
table .deleted .deletable a {
  color: #d9534f !important;
}

// filter
.fixed-height {
  overflow-y: scroll;
  padding: 0px 0 0 0;
}

.table-fixed-selectable {
  width: 100%;
}

// header
.control-header {
  background-color: #eaeaea;
  padding: 10px 0 10px 0;
}

// form
.condensed-form {
  margin-bottom: 0;
}
.form-errorbox .help-block {
  color: #c7254e;
}

// button
.btn-normal {
  cursor: pointer;
  border: none;
  background: #e0e1e2;
  color: #333;
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none !important;
}
.btn-normal:hover {
}

.label-normal {
  font-size: 100%;
  font-weight: normal;
}

// ui-select
.select2 > .select2-choice.ui-select-match {
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}
.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000;
}

